src/portfolio/settings/local.py
local.py
local.*

db.sqlite3

env/
uenv/
venv/
wenv/

media/
media/cv/
media/projects/

staticfiles/
__pycache__/
.idea/
.vscode


*.pyc
*.key

*bkp.*
