{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Detail Project{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <ul class="list-unstyled">
            <li><strong>Title: {{ object.title }}</strong></li>
            <li>Description: {{ object.description }}</li>
            <li>
                <div class="row">
                    {% for imag in object.images_set.all %}
                        <span class="col-sm-4">
                            <img src="{{ imag.image.url }}" width='100%' alt="{{ imag.image.url }}">
                        </span>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </form>
    {% if user.is_authenticated %}
        <a href="{% url 'projects:update' object.slug %}">Update project</a>
    {% endif %}
{% endblock %}
