{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Gabriel Ionescu{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

    <div class="row align-items-center text-center h-100">
        <div class="col-md-8 mx-auto">
            <h1 id="main-first">gabriel ionescu</h1>
            <h2 id="main-second">web developer</h2>
            <br><br>
            <hr>

            <h3 id="main-third">
                <a class="nav-home" href="{% url 'projects:project_list' %}">Projects</a>
                <a class="nav-home" href="{% url 'articles:all' %}">Blog</a>
{#                <a class="nav-home" href="{% url 'projects:cv_list' %}">CV</a>#}
                <a class="nav-home" href="{% url 'about' %}">About</a>
            </h3>

        </div>
    </div>

{% endblock %}
