{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}New Project{% endblock %}

{% block content %}
    <br>
    <h3>Create Project</h3>
<form id="post_form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            {{ projectForm|crispy }}
        </div>
        <div class="col-md-6">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form|crispy }} <br>
            {% endfor %}
        </div>
    </div>
    <input type="submit" name="submit" value="Create" />
</form>
{% endblock %}
