{% extends 'base_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}New Project{% endblock %}

{% block list_title %}Add Project{% endblock %}

{% block list_content %}
<form id="post_form" method="post" action="" enctype="multipart/form-data"
      style="background: rgba(70, 89, 18, 0.08); border-radius: 0.5em; padding: 1rem; margin: 0.5rem">
    {% csrf_token %}
    {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="row">
        <div class="col-lg-7">
            {{ projectForm|crispy }}
        </div>
        <div class="col-lg-5">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form|crispy }}<br>
            {% endfor %}
        </div>
    </div>
    <input class="btn btn-success" type="submit" name="submit" value="Create" />
    <a class="btn btn-danger" href="{% url 'projects:project_list' %}">Cancel</a>
</form>
{% endblock %}
