{% extends 'base_list.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block list_title %}Projects{% endblock %}

{% block list_content %}
    {% if object_list %}
        {% for obj in object_list %}
            {% if obj.visible %}
                <div class="row mb-3 obj-visible">
            {% else %}
                <div class="row mb-3 obj-invisible">
            {% endif %}

                    <div class="col-lg-6 align-self-center">
                        <img style="border-radius: 5px"
                             width="100%"
                             src="{{ obj.images_set.first.image.url }}"
                             alt="{{ obj.images_set.first.image.url }}">
                    </div>

                    <div class="col-lg-6">
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>
                                    <a id="obj-title" href="{{ obj.link_host }}" target="_blank">{{ obj.title }}</a>
                                </strong>
                            </h5>
                            <p class="card-text text-muted text-justify">{{ obj.get_description|first }}</p>
                            <hr>
                            <a href="{{ obj.get_absolute_url }}" class="btn-more"><strong>More details</strong></a>
                        </div>
                    </div>
                </div>

        {% endfor %}
    {% else %}
        <h3>No projects yet</h3>
    {% endif %}
{% endblock %}
