{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Update Project{% endblock %}

{% block content %}
    <br>
    <h3>Update Project</h3>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="btn btn-success btn-sm" type="submit" name="update" value="Update" />
            <a class="btn btn-danger btn-sm" href="{% url 'projects:project_detail' slug=object.slug %}">Cancel</a>
        </form>
        <hr>
        <br><br>
        <div class="row">
            {% for imag in object.images_set.all %}
                <span class="col-sm-2">
                    <img src="{{ imag.image.url }}" width='100%' alt="{{ imag.image.url }}">
                    <div class="text-center">
                        <a class="btn btn-danger btn-sm" href="{{ imag.get_absolute_url }}">Delete image</a>
                    </div>
                </span>



            {% endfor %}
        </div>

    {% endif %}
{% endblock %}