{% extends 'base_list.html' %}
{% load static %}

{% block title %}Detail Project{% endblock %}

{% block list_title %}{{ object.title }}{% endblock %}

{% block list_content %}

    <div class="row">
        <div class="mb-3 text-center obj-visible">
            <div class="m-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-7 text-justify">
                            {% for line in object.get_description %}
                                {% if line == '' %}
                                    <br>
                                {% endif %}
                                <ul class="list-group list-unstyled">
                                    <li>{{ line }}</li>
                                </ul>
                            {% endfor %}
                            <hr>
                            {% for tech in object.get_technologies %}
                                <div style="display: inline-block">
                                    <img src="https://img.shields.io/badge/{{ tech }}-brightgreen.svg" alt="">
                                </div>
                            {% endfor %}

                            <br><br>
                            {% if object.link_host or object.link_github %}
                                Links:
                            {% endif %}

                            <a class="btn btn-link" href="{{ object.link_host }}" target="_blank">
                                {% if 'heroku' in object.link_host %}
                                    Heroku
                                {% else %}
                                    {{ object.title }}
                                {% endif %}
                            </a>
                            <a class="btn btn-link" href="{{ object.link_github }}" target="_blank">GitHub</a>
                        </div>

                        <div class="col-md-5 text-justify">
                            {% for imag in object.images_set.all %}
                                <a href="{{ imag.image.url }}" target="_blank">
                                    <img class="mb-1"
                                         width='49%'
                                         style="border-radius: 5px"
                                         src="{{ imag.image.url }}"
                                         alt="{{ imag.image.url }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

        {% if user.is_authenticated %}
            <a class="btn btn-success" href="{% url 'projects:project_update' object.slug %}">
                <i class="fas fa-edit"></i>
                Update project</a>
            <a class="btn btn-danger" href="{% url 'projects:project_delete' object.slug %}">
                <i class="fas fa-trash-alt"></i>
                Delete project</a>
            <hr>
        {% endif %}
<a class="btn-more" href="{% url 'projects:project_list' %}">Back</a>

{% endblock %}



