{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Detail Project{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <ul class="list-unstyled">
            <li><strong>Title: {{ object.title }}</strong></li>
            <li>Description: {{ object.description }}</li>
            <li>
                <div class="row">
                    {% for imag in object.images_set.all %}
                        <span class="col-sm-4">
                            <img src="{{ imag.image.url }}" width='100%' alt="{{ imag.image.url }}">
                                <div class="text-center">
                                    <a class="btn btn-danger btn-sm" href="{{ imag.get_absolute_url }}">Delete image</a>
                                </div>
                            </span>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </form>
    {% if user.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'projects:project_update' object.slug %}">Update project</a>
        <a class="btn btn-danger" href="{% url 'projects:project_delete' object.slug %}">Delete project</a>
        <hr>
    {% endif %}
    <a class="btn btn-info" href="{% url 'projects:project_list' %}">Back</a>
{% endblock %}
