{% extends 'base_list.html' %}
{% load static %}

{% block title %}Detail Project{% endblock %}

{% block list_title %}{{ object.title }}{% endblock %}

{% block list_content %}

    <div class="row">
        <div class="mb-3 text-center obj-visible">
            <div class="m-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 text-justify mb-2">
                            {% for line in object.get_description %}
                                {% if line == '' %}
                                    <br>
                                {% endif %}
                                <ul class="list-group list-unstyled">
                                    <li>{{ line }}</li>
                                </ul>
                            {% endfor %}
                            <hr>
                            {% for tech in object.get_technologies %}
                                <div style="display: inline-block">
                                    <img src="https://img.shields.io/badge/{{ tech }}-brightgreen.svg" alt="">
                                </div>
                            {% endfor %}
                            <br><br>
                            {% if object.link_host or object.link_github %}
                                 Links:
                             {% endif %}

                            <a class="ml-2" href="{{ object.link_host }}" target="_blank">
                                {% if 'heroku' in object.link_host %}
                                    Heroku
                                {% else %}
                                    {{ object.title }}
                                {% endif %}
                            </a>
                            <a class="ml-2" href="{{ object.link_github }}" target="_blank">GitHub</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for imag in object.images_set.all %}
                                        <li data-target="#carouselIndicators" data-slide-to={{ forloop.counter }} class="{% if forloop.first %}active{% endif %}"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for imag in object.images_set.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img class="d-block w-100" style="border-radius: 5px"
                                                 src="{{ imag.image.url }}" alt="{{ imag.image.url }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


        {% if user.is_authenticated %}
            <a class="btn btn-success" href="{% url 'projects:project_update' object.slug %}">
                <i class="fas fa-edit"></i>
                Update project</a>
            <a class="btn btn-danger" href="{% url 'projects:project_delete' object.slug %}">
                <i class="fas fa-trash-alt"></i>
                Delete project</a>
            <hr>
        {% endif %}
<a class="btn-more" href="{% url 'projects:project_list' %}">Back</a>

{% endblock %}



