body {
    display: flex;
    align-items: center;

    color: #C4CAC0;
}

body {
    background-image: url("../images/background-home.jpeg");

}

#main-first {
    color: #FEFCE5;
    text-shadow: 0 0 25px #041820;
    font-size: 8vw;
}
/**/
#main-second {
    color: #d5ea9f;
    text-shadow: 0 0 15px black;
    font-size: 4vw;
}
