#list-title{
    font-family: 'Overpass', sans-serif;
    color: #d5ea9f;
    text-shadow: 0 0 15px black;
    font-size: 2.5rem;
}

#list-title-description,
#list-footer {
    font-size: 0.6rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#obj-title {
    font-family: 'Overpass', sans-serif;
    color: #757f59;
    font-size: 1.35rem;
}

#obj-title:hover {
    color: #757f59;
    text-shadow: 0 0 1vw #041820;
    text-decoration: none;
}

#obj-date {
    margin-top: -0.7rem;
    font-size: 0.6rem;
}

.obj-visible {
    background: rgba(70, 89, 18, 0.05);
    border-radius: 0.5em;
    padding: 1rem;
    margin: 0.5rem
}

.obj-invisible {
    background: rgba(200, 89, 18, 0.5);
    border-radius: 0.5em;
    padding: 1rem;
    margin: 0.5rem
}

.card-text {
    font-size: 0.8rem;
}

.btn-more {
    color: #757f59;
}

.btn-more:hover {
    color: #757f59;
    text-shadow: 0 0 0.5vw #041820;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    #list-title {
        font-size: 3rem;
    }

    #list-title-description,
    #list-footer {
        font-size: 0.65rem;
    }

    #obj-title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    #list-title {
        font-size: 3.5rem;
    }

    #list-title-description,
    #list-footer {
        font-size: 0.8rem;
    }

    #obj-title {
        font-size: 2rem;
    }

    #obj-date {
        font-size: 0.8rem;
    }

    .card-text {
    font-size: 1rem;
}
}