<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects:project_list' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'articles:all' %}">Blog</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'projects:cv_list' %}">CV List</a>
{#                {% else %}#}
{#                    <a class="nav-link" href="{% url 'projects:cv_list' %}">CV</a>#}
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_staff %}
                <span class="nav-item nav-custom">
                    <i class="nav-link fas fa-tools"></i>
                </span>
                <li class="nav-item nav-custom">
                    <a class="nav-link" href="{% url 'articles:list' %}">My articles</a>
                </li>
                <li class="nav-item dropdown nav-custom">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                        New
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'projects:project_create' %}">New Project</a>
                        <a class="dropdown-item" href="{% url 'articles:create' %}">New article</a>
                        <a class="dropdown-item" href="{% url 'projects:cv_create' %}">New CV</a>
                    </div>
                </li>
                <li class="nav-item nav-custom">
                    <a class="nav-link" href="/admin" target="_blank">
                        Admin Page
                        <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </li>
            {% endif %}

        </ul>

        {% if user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-custom">
                        <div class="nav-link">
                            <i class="fas fa-user"></i>
                            <strong><em>{{ request.user.username }}</em></strong>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
