{% extends 'base_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Update article: {{ object }}
{% endblock %}

{% block list_title %}
    Update article: {{ object }}
{% endblock %}

{% block list_content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.title|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {{ form.content.label }}{{ form.content }}
        <p>
            Published date:
            {% if object.published_date %}
                {{ object.published_date }}
            {% else %}
                <spam style="color: red">Draft</spam>
            {% endif %}
        </p>
        <input type="submit" class="btn btn-success" value="Update">
        <a class="btn btn-danger float-right" href="{% url "articles:detail" slug=article.slug %}">Cancel</a>
    </form>
{% endblock %}
